<!doctype html>
<html>

<head>
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="css/main.css" rel="stylesheet"/>

    <!-- Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src='libs/dom-to-image.min.js'></script>
    <script src='libs/d3.min.js'></script>
    <script src='libs/nv.d3.min.js'></script>
    <script src='libs/angular-nvd3.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.9/angular-nvd3.min.js"></script>
</head>




<body ng-app="myApp">

<!-- Alert message -->
<div class="main" ng-controller="MainController as main">
    <welcome></welcome>
    <div id="test"></div>
</div>

<!-- List of messages (use diferent directives and controllers) -->
<div class="container">
    <div ng-controller="PostCtrl as post">
        <form ng-submit="post.addMessage(post.newMessage)">
            <input type="text" ng-model="post.newMessage">
            <button type="submit">Add Message</button>
        </form>
    </div>

    <div ng-controller="ListCtrl as list">
        <p ng-repeat="message in list.messages">{{ message.id }}: {{ message.text }}</p>
    </div>
</div>

<!-- Show graph using NVD3 -->
<div ng-controller="RandomData as rData">
    <nvd3 options="options" data="data"></nvd3>
</div>




<!-- Modules -->
<script src="js/app.js"></script>

<!-- Controllers -->
<script src="js/controllers/MainController.js"></script>
<script src="js/controllers/PostCtrl.js"></script>
<script src="js/controllers/ListCtrl.js"></script>

<!-- Services -->
<script src="js/services/MessageService.js"></script>

<!-- Directives -->
<script src="js/directives/helloDir.js"></script>

</body>
</html>
